@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit";
  }

  h1 {
    @apply text-xlargeMobile md:text-xlargeDesk font-extrabold uppercase text-orange-500;
  }
  h2 {
    @apply text-largeMobile md:text-largeDesk font-bold;
  }
  h3 {
    @apply text-mediumMobile md:text-mediumDesk;
  }
  h4 {
    @apply text-smallDesk md:text-smallDesk;
  }
  h5 {
    @apply text-baseMobile md:text-baseDesk font-bold;
  }
  h6 {
    @apply text-bodyMobile md:text-bodyDesk;
  }
  p {
    @apply text-konsultativMobile md:text-konsultativDesk;
  }
}

@media (min-width: 769px) {
  /* General classnames */
  .pc-only {
    display: block;
  }

  .pc-hide {
    display: none;
  }
}
