---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import InfoMode from "../components/InfoMode.astro";
import AnmeldelseCard from "../components/AnmeldelseCard.astro";
import forsidebillede from "../assets/images/forside_billede.png"
import mobilforside from "../assets/images/heromobil.png"
import VideoCards from "../components/VideoCards.astro";
---
<MainLayout title="HöjskolenDK">
	<div class="relative ">
		<Image src={mobilforside} alt="forside" class="md:hidden  absolute mt-[-170px] -z-30"></Image>
		<Image src={forsidebillede} alt="forside" class="pc-only hidden md:block absolute mt-[-220px] -z-30"></Image>
	</div>
	
	<div class="md:hidden flex flex-row justify-between mx-10 ">
		<h2 class="text-beige-50 text-[16px]">fællesskab</h2>
		<h2 class="text-beige-50 text-[16px]">eventyr</h2>
		<h2 class="text-beige-50 text-[16px]">livserfaring</h2>
</div>
		<div class="-z-50">
			<div class="flex flex-row justify-center"><h1 >Höj<span class="font-light">skolen</span>dk</h1></div>
		<div class="hidden md:flex flex-row justify-between md:mx-28 ">
				<h2 class="text-beige-50 text-[16px]">fællesskab</h2>
				<h2 class="text-beige-50 text-[16px]">eventyr</h2>
				<h2 class="text-beige-50 text-[16px]">livserfaring</h2>
		</div>
	</div>

<div class="m-sm md:m-xl gap-4 grid md:grid-cols-2 ">
	
	<div class="md:hidden flex flex-col justify-center ml-6 gap-6 mt-[300px] md:ml-12">	
		<AnmeldelseCard
		cardimage="/pp.png"
		cardimagealt="anders profilbillede"
		ophold="Australien, Bali, Gili"
		navnogalder="Anders, 24 år"
		citat="Jeg tog afsted med HÖJSKOLENDK uden helt at vide, hvad jeg gik ind til, men kom hjem med så meget mere, end jeg kunne have forestillet mig."
		>
	</AnmeldelseCard>
	
	<AnmeldelseCard
		cardimage="/anna.png"
		cardimagealt="anna profilbillede"
		ophold="Caribien, Hawaii, Mexico"
		navnogalder="Anna, 22 år"
		citat="Denne rejse gav mig ny selvtillid og afklarede mine mål i livet. Jeg kan varmt anbefale det til alle, der søger eventyr og personlig udvikling!"
		>
	</AnmeldelseCard>
	</div>

	<div class="md:w-[550px] flex flex-col gap-4 mt-500px md:mt-[800px]">
		<h2 class="text-orange-500 pb-2 md:pb-6">Er du klar på et eventyr?</h2>
		<p class="leading-5">HÖJSKOLENDK er en dansk højskole for unge mellem 18-30 år. Vi tilbyder eventyrlige højskoleophold i udlandet, hvor oplevelser, fællesskab og mødet med nye kulturer er i fokus.</p>
		<p class="hidden md:block leading-5">Vi tilbyder inspirerende undervisning og stærkt sammenhold på din grupperejse. Som medlem af Rejsegarantifonden kan du være sikker på en tryg rejseoplevelse.</p>
		<p class="leading-5">Vores højskoleophold er ideelt for dig, der ønsker at rejse med rygsæk, og drømmer om en fed grupperejse med andre skønne unge.</p>
		<p class="leading-5">Vi ser frem til at lære dig at kende!</p>
	</div>

	<div class="hidden md:block">
		<div class=" flex flex-col gap-6  md:ml-12 md:mt-[385px]">	
			<AnmeldelseCard
			cardimage="/pp.png"
			cardimagealt="anders profilbillede"
			ophold="Australien, Bali, Gili"
			navnogalder="Anders, 24 år"
			citat="Jeg tog afsted med HÖJSKOLENDK uden helt at vide, hvad jeg gik ind til, men kom hjem med så meget mere, end jeg kunne have forestillet mig."
			>
		</AnmeldelseCard>
		
		<AnmeldelseCard
			cardimage="/anna.png"
			cardimagealt="anna profilbillede"
			ophold="Caribien, Hawaii, Mexico"
			navnogalder="Anna, 22 år"
			citat="Denne rejse gav mig ny selvtillid og afklarede mine mål i livet. Jeg kan varmt anbefale det til alle, der søger eventyr og personlig udvikling!"
			>
		</AnmeldelseCard>
		</div>
	</div>
</div>

<section class="mx-8 my-20 ">
<div class="flex flex-col items-center pb-8 justify-bewtween gap-4">
		<h1 class="">REJSER</h1>
		<h3>nye eventyre venter!</h3>
</div>
	<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-8">
		<VideoCards
		url="#", 
		cardvideo="public/1.mp4",
		ophold1="",
		ophold2="", 
		ophold3="", 
		ophold4="Hawaii", 
		ophold5="Mexico", 
		ophold6="Caribien", 
		months="3 måneder" 
		></VideoCards>
	
		<VideoCards
		url="#", 
		cardvideo="public/2.mp4",
		ophold1="",
		ophold2="", 
		ophold3="NZ", 
		ophold4="Bali", 
		ophold5="Australien", 
		ophold6="Gili Islands", 
		months="3 måneder" 
		></VideoCards>
	
		<VideoCards
		url="#", 
		cardvideo="public/3.mov",
		ophold1="",
		ophold2="", 
		ophold3="", 
		ophold4="Mexico", 
		ophold5="Colombia", 
		ophold6="Costa Rica", 
		months="3 måneder" 
		></VideoCards>
	
		<VideoCards
		url="#", 
		cardvideo="public/4.mp4",
		ophold1="",
		ophold2="Nepal", 
		ophold3="Indien", 
		ophold4="Vietnam", 
		ophold5="Sri Lanka", 
		ophold6="Thailand", 
		months="3 måneder" 
		></VideoCards>
	
		<VideoCards
		url="#", 
		cardvideo="public/5.mp4",
		ophold1="",
		ophold2="Bali", 
		ophold3="Japan", 
		ophold4="Hawaii", 
		ophold5="Australien", 
		ophold6="Gili islands", 
		months="3 måneder" 
		></VideoCards>
		<VideoCards
		url="#", 
		cardvideo="public/6.mp4",
		ophold1="",
		ophold2="", 
		ophold3="Bali", 
		ophold4="Sri Lanka", 
		ophold5="Gili Islands", 
		ophold6="Maldiverne", 
		months="2 måneder" 
		></VideoCards>
	
		<VideoCards
		url="#", 
		cardvideo="public/7.mp4",
		ophold1="Peru",
		ophold2="Bolivia", 
		ophold3="Ecuador", 
		ophold4="Colombia", 
		ophold5="Brasilien", 
		ophold6="Argentina", 
		months="3 måneder" 
		></VideoCards>
		<VideoCards
		url="#", 
		cardvideo="public/8.mp4",
		ophold1="",
		ophold2="", 
		ophold3="Bali", 
		ophold4="Japan", 
		ophold5="Gili Islands", 
		ophold6="Australien", 
		months="2 måneder" 
		></VideoCards>
	</div>
</section>

	<div class="mx-0 ">
		<InfoMode></InfoMode>
	</div>

</MainLayout>