---
// Henter parametrene fra Astro.props
const { href="#", target="_self"} = Astro.props; 
---
<div class="">
<a href={href} target={target} class="text-petroleum-500">
    <h6 class="text-turkis-400"><slot /></h6>
</a>
<div class="w-10 h-6 fill-turkis-900"></div>
</div>