---
// const { url="#", cardvideo="", cardvideoalt="", ophold1="", ophold2="", ophold3="", ophold4="", ophold5="", ophold6="", months="" } = Astro.props; 
---


   <div class="container relative w-[320px] h-[450px] rounded-xl overflow-hidden">
    <video class="w-full h-full object-cover" src="public/1.mp4" muted ></video>
    <div class="text absolute inset-0 flex flex-col justify-center  p-4">
      <span class="text-turkis-300 text-lg font-bold absolute top-6 right-6">3 måneder</span>
      <div class="absolute bottom-10 flex flex-col gap-2 pt-8">
        <h4 class="uppercase text-beige-200">Peru</h4>
        <h4 class="uppercase text-beige-200">Bolivia</h4>
        <h4 class="uppercase text-beige-200">Ecuador</h4>
        <h4 class="uppercase text-beige-200">Colombia</h4>
        <h4 class="uppercase text-beige-200">Brasilien</h4>
        <h4 class="uppercase text-beige-200">Argentina</h4>
      </div>
    </div>
  </div>



<script>
    const videos = document.querySelectorAll('.video');

videos.forEach(video => {
  video.addEventListener('mouseenter', () => {
    video.play();
  });
  
  video.addEventListener('mouseleave', () => {
    video.pause();
    video.currentTime = 0;
  });
});
</script>

